form {
    margin-top: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #0c03b9;
}

input,
textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border: 2px solid #c40303;
    border-radius: 30px;
    margin-bottom: 10px;
    font-size: 13px;
}

.btnFormulario {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #140d0ddb;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}