.btnFormulario {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #140d0ddb;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}